
* {
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --gradiant-color-first: #2a4032;
  --gradiant-color-second: #3a5e46;
  --color-one: #fdde67;
  --color-two: #c5c2ca;
  --color-three: #e9e9e9;
  --color-four: #3b5f47;
  --color-five: #181818;
  --color-six: #1b2d22;
  --first-font-family: "Lato";
  --second-font-family: "Roboto";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--first-font-family), sans-serif;
  margin: 0;
  background: var(--color-four);
  color: white;
}

img {
  display: block;
}








/* color palette from <https://github.com/vuejs/theme> */
/* :root {
 
}

:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
